{% extends 'base.html' %}
{% block title %}Liste des TODOs{% endblock %}

{% block content %}
{% load static %}

<h2>Liste des TODOs</h2>

<ul>
  <p>TODOs</p>
  {% for todo in todos %}
  {% if not todo.isDone %}
    <div class="d-grid">
      <div class="d-flex gap-2">
        <a href="{% url 'complete-todo' todo.id %}"><i class="bi bi-check2-square"></i></a>
        <b>{{ todo.name }}</b>
      </div>
      <div class="d-flex gap-2">
        <a href="{% url 'delete-todo' todo.id %}"><i class="bi bi-trash"></i></a>
        <p>{{ todo.description }}</p>
      </div>
    </div>
  {% endif %}
  {% endfor %}

  <p>Complétés</p>
  {% for todo in todos %}
  {% if todo.isDone %}
    <div class="d-grid">
      <div class="d-flex gap-2">
        <a href="{% url 'delete-todo' todo.id %}"><i class="bi bi-trash"></i></a>
        <b>{{ todo.name }}</b>
      </div>
      <div class="d-flex gap-2">
        <p class="ms-4">{{ todo.description }}</p>
      </div>
    </div>
  {% endif %}
  {% endfor %}
  <a class="btn btn-primary" href="/newtodo">+</a>
</ul>

{% endblock %}