{% extends 'base.html' %}
{% block title %}Inscription{% endblock %}

{% block content %}

<div class="container-fluid member-app">
    <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto">
            <h2>Inscrivez-vous dès maintenant</h2>
            <br />

            <form method="POST">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <a href="{% url 'index' %}" class="btn btn-secondary">Annuler</a>
                    <button type="submit" class="btn btn-primary">S'inscrire <i
                            class="fas fa-chevron-right"></i></button>
                </div>
            </form>
            <br />
        </div>
    </div>
</div>

{% endblock %}