{% extends 'base.html' %}
{% block title %}Liste des TODOs{% endblock %}


{% block content %}
{% load static %}
{% load color_filter %}

<!-- <h2>Liste des TODOs</h2> -->
<div class="position-relative h-100 d-grid p-3 gap-3">
  <div class="buttons-group">
    <a class="btn btn-primary" href="{% url 'category-form' %}">New Category</a>
    <a class="btn btn-primary" href="/newtodo">+</a>
  </div>
  <div class="list-container gap-2 p-3 dropZone" isDone="false">
    {% for todo in todos %}
    {% if not todo.isDone %}
    <div class="todo-container dragElement" todoId="{{ todo.id }}" draggable="true" style="
        border-color: {{ todo.category.color }}; 
        background-color: {{ todo.category.color|hex_to_rgba:0.2 }};">
      <div class="d-grid gap-2 card">
        <div class="card-body">
          <h4 class="card-title text-wrap">{{ todo.name }}</h4>
          <p class="card-text text-wrap">{{ todo.description }}</p>
          <div class="position-absolute bottom-0">
            {% if todo.category %}
            <p class="position-absolute bottom-0" style="color: {{ todo.category.color }};">
              {{ todo.category.name }}
            </p>
            {% else %}
            <p class="position-absolute bottom-0 m-3" style="color: gray;">No Category</p>
            {% endif %}
          </div>
          <a href="{% url 'delete-todo' todo.id %}" class="position-absolute bottom-0 end-0 m-3"><i
              class="bi bi-trash"></i></a>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  <div class="list-container gap-2 p-3 dropZone col-9 align-self-end" isDone="true">
    {% for todo in todos %}
    {% if todo.isDone %}
    <div class="todo-container dragElement" todoId="{{ todo.id }}" draggable="true" style="
        border-color: {{ todo.category.color }}; 
        background-color: {{ todo.category.color|hex_to_rgba:0.2 }};">
      <div class="d-grid gap-2 card">
        <div class="card-body">
          <h4 class="card-title text-wrap">{{ todo.name }}</h4>
          <p class="card-text text-wrap">{{ todo.description }}</p>
          <div class="position-absolute bottom-0">
            {% if todo.category %}
            <p class="position-absolute bottom-0" style="color: {{ todo.category.color }};">
              {{ todo.category.name }}
            </p>
            {% else %}
            <p class="position-absolute bottom-0 m-3" style="color: gray;">No Category</p>
            {% endif %}
          </div>
          <a href="{% url 'delete-todo' todo.id %}" class="position-absolute bottom-0 end-0 m-3"><i
              class="bi bi-trash"></i></a>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}